---
layout: default
---

<div class="col-lg-10 mx-auto mt-5 post project-post">
    <h1 id="{{ page.name | slugify }}">
        <b>{{ page.name }}</b>
    </h1>

    <p class="post-metadata text-muted">
        {%- if page.project_links -%}

        {%- if page.project_links.size == 1 -%}
        Link:
        {%- else -%}
        Links:
        {%- endif -%}

        {%- for project_link in page.project_links -%}
        {%- assign domain = project_link | split: "//" | last | split: "/" | first -%}
        <em><a href="{{ project_link }}" class="no-underline ml-1 mr-1">[ {{ domain }} ]</a></em>
        {%- endfor -%}
        {%- endif -%}

    </p>

    {%- if page.project_scope or page.project_role or page.project_duration or page.team_size -%}
    <!--    <h3 id="project-details">Project details</h3>-->
    <div id="project-details-container">
        <p id="project-details-text">
            {%- if page.project_role -%}
            {%- assign project_details_title = "Project role:" -%}
            {%- assign project_details_value = page.project_role -%}
            {% include projects/project-details.html %}
            {%- endif -%}

            {%- if page.project_scope -%}
            {%- assign project_details_title = "Project scope:" -%}
            {%- assign project_details_value = page.project_scope -%}
            {% include projects/project-details.html %}
            {%- endif -%}

            {%- if page.project_duration -%}
            {%- assign project_details_title = "Project duration:" -%}
            {%- assign project_details_value = page.project_duration -%}
            {% include projects/project-details.html %}
            {%- endif -%}

            {%- if page.team_size -%}
            {%- assign project_details_title = "Team size:" -%}
            {%- assign project_details_value = page.team_size -%}
            {% include projects/project-details.html %}
            {%- endif -%}

            {%- if page.tools != empty -%}
            {%- assign project_details_title = "Platforms:" -%}
            {%- assign project_details_value = page.tools | array_to_sentence_string  -%}
            {% include projects/project-details.html %}
            {%- endif -%}
        </p>
    </div>
    {%- endif -%}

    <hr>

    {%- if page.description != empty -%}
    {% assign description_split = page.description | split: "\n" %}

    {% for description_item in description_split %}
    <p>{{ description_item }}</p>

    {% endfor %}

    {%- endif -%}

    {{ content }}

    <hr>

    {%- if page.video -%}
    {% include elements/video.html id = page.video %}
    {%- endif -%}

    {%- if page.carousel_images and page.carousel_images.size > 0 -%}
    {% assign carousel_images = page.carousel_images | join: "," %}
    {% assign aspect_ratio = page.aspect_ratio %}
    {% include elements/carousel.html %}
    {%- endif -%}
</div>